body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 700px;
    margin: 50px auto;
    background: white;
    display: flex;
    border: 1px solid #aaa;
}

.input, .output {
    width: 50%;
    padding: 20px;
}

.input h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 90%;
    padding: 5px;
}

button {
    margin-top: 15px;
    padding: 6px 15px;
}

.output {
    border-left: 1px solid #aaa;
}

.output h3 {
    text-align: center;
}